html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    color: red;
}

.nav-item {
    color: red;
}

.nav-link active {
    color: aquamarine;
}